.burgeringredients {
  width: 600px;
}

.title {
  text-align: start;
}

.tab {
  display: flex;
}

.ingredients {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  height: 716px;
  margin-top: 40px;
}
