.modal {
  box-sizing: border-box;
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 724px;
  z-index: 1;
  background-color: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  height: 64px;
  text-align: center;
}

.close_button {
  background: none;
  border: 0;
  position: absolute;
  top: 60px;
  right: 40px;
  cursor: pointer;
}
