.header {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.menu {
  display: flex;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.constructor {
  display: flex;
}
